/* ---------RESETS--------- */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  font,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    scroll-behavior: smooth;
    list-style: none;
  }
  
  html {
    font-size: 62.5%;
    height: 100%;
  }
  
  body {
    color: #2b2b2b;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    overflow-x: hidden;
    line-height: 1.4;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  article,
  aside,
  footer,
  header,
  nav,
  section,
  time {
    display: block;
  }
  a {
    text-decoration: none;
  }
  img {
    max-width: 100%;
  }

  /*------------CONTAINER/GRID-------------*/
.container{
  max-width: 140rem;
  margin: 0 auto;
  padding: 1.5rem;
}

 /*------------HEADER------------*/
 .header{
    background: #000000;
    position: relative;
 }

 .header .branding{
    display: flex;
    align-items: center;
 }

 .header .branding img{
    width: 15rem;
    border-right: 1px solid #ffffff;
    padding-right: 1rem ;
 }

 .header .branding a{
    color: #ffffff;
    font-size: 2.3rem;
    padding-left: 1rem;
 }

 .header .branding a:hover{
    text-decoration: underline;
 }

 .header .header__nav i,
 .header .header__nav .toggle__menu{
    display: none;
 }

 .header .header__nav{
    display: flex;
    align-items: center;
    gap: 2rem;
 }

 .header .header__nav i{
    color: #ffffff;
    transition: .5s ease;
 }

 .header .header__nav i:hover{
    transform: scale(1.5);
    transition: .5s ease;
    cursor: pointer;
 }

 .toggle__menu span{
    width: 3rem;
    height: .3rem;
    background-color: #ffffff;
    display: block;
    border-radius: 5rem;
    transition: .5s ease;
 }

 .toggle__menu span:nth-child(2){
    margin: .5rem 0;
    
 }

 .toggle__menu.open span:first-child{
    transform: translate(0, 10px) rotate(225deg);
    transition: .5s ease;
  }

  .toggle__menu.open span:nth-child(2){
    opacity: 0;
    transition: .5s ease;
  }

  .toggle__menu.open span:last-child{
    transform: translate(0, -6px) rotate(-225deg);
    transition: .5s ease;
  }

 .header .header__nav ul{
    display: flex;
    gap: 2rem;
 }

 .header .header__nav ul.open{
    max-height: 20rem;
    padding: 3rem 0;
    transition: .5s ease;
 }

 .header .header__nav ul li a{
   width: 18rem;
   text-align: center;
 }
 


@media screen and (max-width:500px) {
    .header .header__nav i,
    .header .header__nav .toggle__menu{
       display: unset;
    }

    .toggle__menu{
        cursor: pointer;
    }

    .header .header__nav ul{
        position: absolute;
        background: #000000;
        left: 0;
        top: 6.5rem;
        width: 100%;
        display: block;
        /* padding: 3rem 0; */
        max-height: 0;
        overflow: hidden;
        transition: .5s ease;
    }

    .header .header__nav ul li{
        text-align: center;
    }

    .header .header__nav ul li a{
        background: none;
        border: none;
        border-radius: 0;
        border: 0px !important;
        font-size: 2rem;
        width: fit-content;
     }
 
    .header .header__nav ul li:not(:last-child) a{
        border-bottom: 1px solid #ffffff !important;
    }

    .header .header__nav ul li a:hover {
        transition: .3s ease;
        background: none;
        color: gray;
    }
    
}



/*------------BANNER -------------*/

.section__banner{
  background: #dadbf1;
}

.section__banner .section__wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 115px;
}

.section__banner .section__wrapper .contents{
  display: block;
}

.section__banner .banner__text h2{
  font-size: 8rem;
  font-weight: 300;
  color:  #000000;
  text-align: center;
}

.section__banner .banner__form input{
  width: 80rem;
  font-size: 2.5rem;
  padding: 2rem;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 9px 14px 0 rgba(0, 0, 0, 0.1);
}

.section__banner .banner__form{
  position: relative;
  padding-top: 2rem;
}

.section__banner .banner__form  i{
  font-size: 2rem;
    transform: translateY(-50%);
    position: absolute;
    right: 15px;
    bottom: 1.5rem;
    z-index: 1;
    width: 28px;
    z-index: 100;
    transition: all .3s;
}

.section__banner .banner__form  i:hover{
  color: #4C5FD5;
}

.section__banner .banner__form #search{
  border: 1px solid #000000;
}

.section__banner .banner__form #search:hover{
  border: 1px solid #4C5FD5;
}

::placeholder{
  font-size: 2rem;
}

.section__banner-items  .items__contents{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 2rem;
  margin: 15rem 12rem;
}


.section__banner-items .items__contents .items{
  display: flex;
  font-family: 'GT America Standard', sans-serif;
  margin-bottom: 6rem;
}

.section__banner-items .items__contents .item-img{
  align-items: center;
}

.section__banner-items .items__contents .items img{
  max-height: 8.5rem;
  max-width: 8.5rem;
  margin-right: 2.3rem;
}

.section__banner-items .items  .item-text h5{
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.section__banner-items .items  .item-text p{
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.section__banner-items .items  .item-text a{
  font-size: 2rem;
}

.section__banner-items .items  .item-text a{
  color:#4C5FD5;
}

.section__banner-items .items  .item-text a:hover{
  text-decoration: underline;
}





















/*------------REPEATABLE PATTERNS-------------*/

.btn{
    display: inline-block;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
  }
  
  .btn.violet{
    background: #4C5FD5;
    color: #ffffff;
    border: 1px solid #4C5FD5;
  }
  
  .btn.violet:hover{
    background: #ffffff;
    color: #000000;
    border: 1px solid transparent;
  }

  .btn.dark{
    background: #2b2b2b;
    border: 2px solid #ffffff;
    color: #ffffff;
  }

  .btn.dark:hover{
    background: #f5f5f5;
    color: #000000;
  }

  .centerAll{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }